@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-BoldItalic.ttf')
    format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Open sans';
  src: url('./assets/fonts/Open Sans/OpenSans-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  font-family: 'Open sans';
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
